.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.table {
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    width: 100%;
}

.cell {
    padding: 4px 56px 4px 24px;
}

.cell-placeholder {
    background: #eee;
    height: 20px;
}

.row {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    position: relative;
}

.row:hover {
    background-color: #eee;
}

.loading::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation 0.8s linear infinite;
    animation: phAnimation 0.8s linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}

@keyframes phAnimation {
    0% {
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0);
    }
}
